* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

html {
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 1152px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  position: relative;
}