.main {
    height: 100vh;
    background-image: url(../images/image-main.webp);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 180px;
}
.main h1 {
    font-size: 56px;
    margin-bottom: 24px;
}
.main p {
    font-size: 16px;
    line-height: 155%;
    width: 887px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
}
.info__inner {
    display: flex;
    justify-content: space-between;
    padding: 56px 88px;
    margin-top: -48px;
    background-color: #fff;
}
.info__item {
    display: flex;
    gap: 24px;
    align-items: center;
}














